<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <ul class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </ul>
            <div id="map"></div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= campground.image %>" class="img-responsive">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a href="#"><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted By:</em>
                        <%= campground.author.username %>
                    </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-xs btn-info">Edit Campground</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-xs btn-danger">Delete Campground</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a new comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a  href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" 
                                    class="btn btn-xs btn-warning">
                                    Edit comment
                                </a>
                                <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <input type="submit" value="Delete comment" class="btn btn-xs btn-danger">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiYWdrdGYiLCJhIjoiY2psajd6YnVoMDk5ajN4bjNhZWwxMTdhOCJ9.EFxmdAwsJspgU-RYAKSc6g';
        // Initialize the geocoder
        var geocoder = L.mapbox.geocoder('mapbox.places');
        // Initialize the map
        var map = L.mapbox.map('map', 'mapbox.outdoors').setView([37.8, -96], 4);;
        var locationStr = "<%= campground.location %>";
        geocoder.query(locationStr, showMap);
        function showMap(err, data) {
            if (data.lbounds) {
                map.fitBounds(data.lbounds);
            } else if (data.latlng) {
                map.setView([data.latlng[0], data.latlng[1], 16]);
            }
            L.marker([data.latlng[0], data.latlng[1]]).addTo(map);
        }
    </script>
</div>

<% include ../partials/footer %>
